/* GENERAL CODES */

:root {
  --maincolor: linear-gradient(98.41deg, #E8C488 0%, #8D6736 100%)
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-none{
  display: none;
}

