/* GENERAL CODES */

:root {
  --main: linear-gradient(98.41deg, #E8C488 0%, #8D6736 100%)
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-none{
  display: none;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: flex-start;
}
.align-end{
  align-items: flex-end;
}

.justify-between{
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}

.pointer{
  cursor: pointer;
}
.Mui-focused{
  border: none !important;
}